<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/save}" th:object="${student}">
		<table>
			<tr>
				<td>id :</td>
				<td><input type="number" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td>Name :</td>
				<td><input th:field="*{name}" /></td>
			</tr>
			<tr>
				<td>QUALIFICATION :</td>
				<td><input th:field="*{qualification}" /></td>
			</tr>
			<tr>
				<td>City :</td>
				<td><input th:field="*{city}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="SAVE" /></td>

			</tr>
		</table>
	</form>

</body>
</html>