<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>student data added sucessfully</h1>
<table>
<tr><td>STUDENT ID :</td><td><h5 th:text="${st.id}"></h5></td> </tr>
<tr><td>STUDENT NAME :</td><td><h5 th:text="${st.name}"></h5></td> </tr>
<tr><td>STUDENT QUALIFICATION :</td><td><h5 th:text="${st.qualification}"></h5></td> </tr>
<tr><td>STUDENT CITY :</td><td><h5 th:text="${st.city}"></h5></td> </tr>
</table>
</body>
</html>